* {
  box-sizing: border-box;
  margin: 0;

}

html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  overflow-x: hidden;
}
body {
  font-family: 'Inter', 'Roboto', 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background-color: #f9fbee;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  display: inline-block;
  text-decoration: none;
}


.wrapper {
  min-height: 100%;

}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  color: #008B8B;
  max-width: 426px;
}

.title-color {
  color: black;
  font-weight: 700;
  margin-left: 34px;
}

.container {
  width: 1128px;
  margin: 0 auto;
  padding: 0;
}

.footer {
  position: relative;
  width: 100%;
}

.title-text {
  margin-top: 66px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #008B8B;
  margin-bottom: 0;
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 22px;
}
