









@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import "layout.scss";
@import "blocks/topline.scss";
@import "blocks/nav.scss";
@import "blocks/about.scss";
@import "blocks/servisec.scss";
@import "blocks/footer.scss";
@import "blocks/form.scss";
@import "blocks/rewies.scss";
@import "blocks/map.scss";
@import "blocks/partner.scss";
