









@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import "layout.scss";
@import "blocks/topline.scss";
@import "blocks/nav.scss";
@import "blocks/about.scss";
@import "blocks/servisec.scss";
@import "blocks/footer.scss";
@import "blocks/form.scss";
@import "blocks/rewies.scss";
@import "blocks/map.scss";
@import "blocks/partner.scss";
@import "blocks/gis.scss";
@import "blocks/exp.scss";
@import "blocks/baner.scss";
@import "blocks/transplan.scss";
@import "blocks/variation.scss";
@import "blocks/wellcom.scss";
@import "blocks/director.scss";
@import "blocks/numbers.scss";
@import "blocks/proof.scss";
@import "blocks/sisdev.scss";
@import "blocks/lab.scss";
@import "blocks/progdev.scss";
@import "blocks/programm.scss";
@import "blocks/aftocad.scss";
@import "blocks/contaboout.scss";
@import "blocks/task.scss";
@import "blocks/mapcont.scss";
@import "blocks/projects.scss";
@import "blocks/portfolio.scss";
@import "blocks/gallery.scss";
@import "blocks/pkrti.scss";
@import "blocks/info.scss";
@import "blocks/infoban.scss";
