@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", "Roboto", "Manrope", sans-serif;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background-color: #f9fbee;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  color: #008B8B;
  max-width: 426px;
}

.title-color {
  color: black;
  font-weight: 700;
  margin-left: 34px;
}

.container {
  max-width: 100%;
  width: 1128px;
  margin: 0 auto;
  padding: 0;
}

.footer {
  position: relative;
  width: 100%;
}

.title-text {
  margin-top: 66px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #008B8B;
  margin-bottom: 0;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 22px;
}

.top__line {
  width: 100%;
  background-color: #008B8B;
  margin-bottom: 32px;
}

.top__line-items {
  min-height: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: relative;
  align-items: center;
  left: 0;
}
.top__line-items .top__line-contacts a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.top__line-mail {
  margin-right: 55px;
}

.top__line-text {
  margin-left: 8px;
}

.top__line-text .text__mail {
  margin-left: 4px;
}

.phone {
  margin-left: 4px;
}

.nav {
  width: 100%;
  min-height: 32px;
  border-bottom: 1px solid #E1E3D6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.nav__items {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  min-width: 820px;
}
.nav__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 82px;
  padding: 0;
  width: 100%;
}

.nav__menu-item {
  border: 1px solid transparent;
  padding: 12px 6px;
  position: relative;
}
.nav__menu-item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  background-color: #008B8B;
}
.nav__menu-item:hover:after, .nav__menu-item:focus:after {
  width: 100%;
}

.nav__menu-item .menu-item__dropdown {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

.about {
  margin-top: 48px;
}
.about .about__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #272727;
  opacity: 0.6;
}
.about .about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 68px;
  margin-bottom: 66px;
  margin-top: 16px;
}
.about .about__title .about__color {
  color: #008B8B;
}
.about .about__us {
  background-image: url(../img/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 408px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.about .about__us .about__blocks {
  margin-top: 66px;
  background: rgba(0, 0, 0, 0.5);
  padding: 32px 48px;
  min-height: 288px;
  max-width: 390px;
  border-radius: 16px;
}
.about .about__us .about__blocks-title {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 42px;
}
.about .about__us .about__list {
  margin-top: 24px;
}
.about .about__us .about__list-item {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  margin-top: 4px;
}
.about .about__us .about__btn-item {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-top: 24px;
  border-radius: 100px;
  border: 1px solid white;
  cursor: pointer;
  padding: 20px 20px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.about .about__us .about__btn-item:hover {
  background-color: #A8B50A;
}

.servisec {
  margin-top: 66px;
}
.servisec .servisec__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.servisec .servisec__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
}
.servisec .servisec__blocks .servisec__blocks-item {
  margin-right: 40px;
}
.servisec .item-right {
  margin-right: 0;
  margin-left: 40px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.servisec .img-left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.servisec .servisec__subtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 26px;
  color: #272727;
}
.servisec .servisec__subtitle:last-child {
  line-height: 42px;
}
.servisec .servisec__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.servisec .servisec__text:last-child {
  margin-top: 24px;
}
.servisec .text-right:last-child {
  margin-top: 6px;
}
.servisec .serv-img {
  min-height: 155px;
}
.servisec .servisec-text {
  margin-left: 180px;
}

.footer {
  margin-top: 68px;
}
.footer__wrap {
  background-image: url("../img/group-503.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: center;
  margin-top: 44px;
}

.footer__items {
  padding-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  padding-top: 10px;
  position: relative;
}

.footer__list-item a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: white;
  padding-top: 15px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts .contact__item {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__list-icon {
  margin-right: 8px;
}

.footer__phone {
  margin: 0 0 0 0;
}

.footer__btn {
  margin-top: 66px;
  background-color: #A8B50A;
  color: white;
  border: 1px solid transparent;
  padding: 16px 36px;
  border-radius: 50px;
}
.footer__btn:hover {
  color: black;
  background-color: #CEEA19;
  border: 1px solid transparent;
}

.form {
  position: relative;
  margin-top: 66px;
}
.form .form__title {
  min-width: 698px;
  margin-bottom: 44px;
}
.form .form-color {
  margin: 0;
}
.form .form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form .form__items .form__item {
  display: block;
  min-width: 554px;
}
.form .form__items .form__item .form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form .form__items .form__item .form__row .form__input {
  border-radius: 50px;
  border: 1px solid black;
  background-color: #f9fbee;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  padding: 20px 292px 20px 36px;
  margin-bottom: 20px;
}
.form .form__items .form__item .form__row .form__input:focus {
  outline: none;
}
.form .form__items .form__item .form__row .form__input--textarea {
  padding: 26px 172px 100px 36px;
  border-radius: 50px;
}
.form .form__items .form__item .form__btn .btn {
  border-radius: 50px;
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: #93AA00;
  cursor: pointer;
  padding: 20px 230px;
}
.form .form__items .form__item .form__btn .btn:hover {
  border: 1px solid transparent;
  background: #CEEA19;
  color: black;
}
.form .form__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}
.form .form__social-blocks {
  max-width: 534px;
}
.form .form__social-block {
  background-color: #008B8B;
  min-height: 184px;
  border-radius: 20px 20px 0 0;
  padding: 20px 42px 16px 42px;
}
.form .form__social-block .form__social-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: white;
  line-height: 30px;
  margin-bottom: 26px;
}
.form .form__social-block .form__social-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-flex: end;
      -ms-flex: end;
          flex: end;
  margin-top: 44px;
  color: #FFFFFF;
}
.form .form__social-img {
  max-width: 534px;
  min-height: 308px;
}

.rewies {
  margin-top: 66px;
}
.rewies .rewies__title {
  max-width: 820px;
  margin-bottom: 66px;
}
.rewies .rewies__title .rewies__title-text {
  max-width: 72%;
}
.rewies .rewies__title .rewies__title-text .rewies__color {
  margin: 0;
}
.rewies .rewies__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rewies .rewies__wrapp .rewies__img {
  margin-right: 8px;
}

.map__text {
  margin-left: 198px;
}

.map__wrapp {
  position: relative;
  background: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1024px;
  min-height: 624px;
  margin-bottom: 88px;
}

.partner__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partner__items .partner__item {
  border: 1px solid #008B8B;
  padding: 76px 36px;
  border-radius: 50px;
}