@media (max-width: 1196px) {}



@media (max-width: 1112px) {
  .services .services__blocks .services__block .services__btn a {
    padding: 18px 98px;
  }
}

@media (max-width: 1099px) {
  .about .about__us .elips .elips__items .elips__item {
    padding: 6px 6px 0 6px;
  }
}

@media (max-width: 1091px) {

  .services .services__blocks .services__blocks-wrapp .services__block {
    max-width: 320px;
  }

  .services .services__blocks .services__blocks-wrapp .services__block .services__btn a {
    padding: 20px 70px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 62px;
  }

  .services .services__blocks .services__block .services__btn a {
    padding: 18px 70px;
  }
}

@media (max-width: 1042px) {
  .nav__menu-list {
    gap: 10px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 55px;
  }


  .services .services__blocks .services__block {
    max-width: 300px;

  }

  .services .services__blocks .services__block .services__btn a {
    padding: 18px 70px;
  }
}

@media (max-width: 1013px) {
  .services .servisec__baner {
    min-width: 322px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 52px;
  }
}

@media (max-width: 1001px) {
  .services .servisec__baner {
    min-width: 330px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 50px;
  }

  .services .servisec__btn-baner:after {
    left: 42px;
  }
}

@media (max-width: 978px) {
  .services .services__blocks .services__blocks-wrapp .services__block {
    max-width: 300px;
  }

  .services .servisec__baner {
    min-width: 300px;
  }

  .services .servisec__btn-baner:after {
    left: 20px;
  }


}
@media (max-width: 960px) {
  .container {
max-width: 940px;
  }
  .partner .partner__wrapper .partner__slider-content .single-item .partner__item {
    height: 306px;
}
}
/*@media (max-width: 911px) {
  .nav__menu-list {
    gap: 0;
  }
  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 37px;
}
.services .services__blocks .services__blocks-wrapp .services__block {
  max-width: 280px;
}
}*/
