@media (max-width: 1880px) {
  .devlop__circ-wrapp.circ-wrapp--two {
    display: none;
  }

  .devlop {
    max-height: 800px;
  }
}

@media (max-width: 1196px) {
  .frequent__items {
    justify-content: center;
  }
}

@media (max-width: 1156px) {
  .devlop {
    display: none;
  }
}

@media (max-width: 1112px) {
  .services .services__blocks .services__block .services__btn a {
    padding: 18px 98px;
  }


  .programm .programm__wrapp .programm__content .programm__btn .programm__btn-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 106px;
  }
}

@media (max-width: 1099px) {
  .about .about__us .elips .elips__items .elips__item {
    padding: 6px 6px 0 6px;
  }

  .programm__img img {
    border-radius: 20px;
    min-width: 514px;
  }
}

@media (max-width: 1091px) {
  .servis__blocks-wrapp {
    margin-left: 26px;
  }

  .services .services__blocks .services__blocks-wrapp .services__block {
    max-width: 320px;
  }

  .exp__item {
    max-width: 80%;
    margin-left: 40px;
  }

  .exp__text {
    width: 65%;
    left: 54px;
    top: 116px;
  }

  .services .services__blocks .services__blocks-wrapp .services__block .services__btn a {
    padding: 20px 70px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 62px;
  }

  .services .services__blocks .services__block .services__btn a {
    padding: 18px 70px;
  }
}

@media (max-width: 1074px) {
  .gallery .gallery__content-items .wrapp__display {
    justify-content: space-evenly;
  }

  .gallery .gallery__content-items .wrapp__display.active {
    justify-content: space-evenly
  }

  .task .task__content .task__items .task__block {
    padding: 34px 100px 34px 22px;
  }
}

@media (max-width: 1042px) {
  .nav__menu-list {
    gap: 2px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 55px;
  }


  .services .services__blocks .services__block {
    max-width: 300px;

  }

  .services .services__blocks .services__block .services__btn a {
    font-size: 18px;
    padding: 18px 70px;
  }
}

@media (max-width: 1013px) {
  .services .servisec__baner {
    min-width: 322px;
  }

  .satya__wrapp .satya__nav-elems .satya__nav-items .satya__nav-item .stya__nav-btn {
    font-size: 14px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 52px;
  }

  .task .task__content .task__items .task__block {
    padding: 34px 100px 34px 22px;
  }

  a {
    font-size: 14px;
  }
}

@media (max-width: 1001px) {
  .services .servisec__baner {
    min-width: 330px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 50px;
  }

  .services .servisec__btn-baner:after {
    left: 42px;
  }

  .programm__img img {
    border-radius: 20px;
    min-width: 482px;
  }
}

@media (max-width: 978px) {
  .services .services__blocks .services__blocks-wrapp .services__block {
    max-width: 300px;
  }

  .services .servisec__baner {
    min-width: 300px;
  }

  .services .servisec__btn-baner:after {
    left: 20px;
  }


}

@media (max-width: 960px) {
  .container {
    max-width: 940px;
  }

  .variation .variation__wrapp .variation__content .variation__prog-items .variation__prog-item .variation__item-btn .variation__btn-one {
    font-size: 16px;
  }

  .variation .variation__wrapp .variation__content .variation__prog-items .variation__prog-item .variation__item-btn .variation__btn-two {
    font-size: 16px;
  }

  .servis__item-text {
    max-width: 500px;
  }

  .servis__blocks-wrapp {
    margin-left: 150px;
  }

  .about .about__us .elips .elips__items .elips__btn {
    position: absolute;
    right: 0;
    bottom: 335px;
  }

  .about .about__us .elips .elips__items .elips__wrapp .elips__icon {
    bottom: 30px;
  }

  .about .about__us .elips .elips__items .elips__item .elips__text {
    text-align: center;
    padding: 0 60px;
  }

  .gis__wrapp .gis__content .gis__items .gis__block .gis__btns .gis__btn-one {
    padding: 20px 14px;
  }

  .about .about__us .elips .elips__items .elips__wrapp {
    margin-top: 478px;
    margin-left: 90px;
    align-items: flex-end;
    z-index: 8;
  }

  .gis__btns .gis__btn-one {
    font-size: 16px;
    margin-right: 18px;
  }

  .gis__btns .gis__btn-two {
    padding: 20px 16px;
    font-size: 16px;
  }

  .gis__items {
    height: 536px;
  }

  .gis__item-block {
    display: none;
  }

  .gis-img {
    max-width: 374px;
    height: 531px;
    margin-right: 0;
  }

  .gis__block {
    max-width: 490px;
  }

  .gis__wrapp .gis__content .gis__title .gis__color {
    font-size: 28px;
  }

  .gis__wrapp .gis__content .gis__title .gis-text {

    font-size: 28px;
  }

  .gis__wrapp .gis__content .gis__title .gis__title-text {
    font-size: 28px;
  }

  .gis__wrapp .gis__content .gis__items .gis__block-img {
    max-width: 50%;
  }

  .gis__wrapp .gis__content .gis__title {
    margin-bottom: 60px;
    width: 135%;
  }

  .exp__text {
    width: 76%;
    left: 34px;
    top: 95px;
  }

  .about .about__us .elips .elips__items {
    right: 54px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 62px;
  }

  .services {
    margin-top: 180px;
  }

  .about .about__us .block-video {
    top: -73px;
  }

  .partner .partner__wrapper .partner__slider-content .single-item .partner__item {
    height: 306px;
  }

  .gallery .gallery__content-items .wrapp__display {
    justify-content: space-evenly;
  }

  .gallery .gallery__content-items .wrapp__display.active {
    justify-content: space-evenly
  }

  .numbers {
    display: none;
  }

  .director .director__wrapp .director__content .director__items .director__avatar {
    height: 270px;
  }

  .proof .proof__content .proof__img {
    min-width: 523px;
  }

  .programm__img img {
    border-radius: 20px;
    min-width: 444px;
  }

  a {
    font-size: 14px;
  }

  .form .form__social-block .form__social-subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .lab__img {
    min-width: 478px;
  }

  .form .form__social-block .form__social-text {
    font-size: 12px;
    margin-top: 20px;
  }

  .form .form__items .form__item {
    display: block;
    min-width: 472px;
  }

  .form .form__items .form__item .form__btn .btn {
    padding: 20px 190px;
  }

  .map-hab {
    position: relative;
    left: 843px;
    top: 49px;
  }

  .sity.map__position-hab.active__sity {
    display: block;
  }

  .map__position-hab {
    left: 669px;
    bottom: -16px;

  }

  .nav__item-serv .nav__serv-wrapp .nav__serv-img img {
    max-width: 273px;
  }

  .nav__item-serv .serv-wr {
    gap: 219px;
  }


}

@media (max-width: 910px) {
  .about .about__us .elips .elips__items .elips__wrapp {
    display: none;
  }

  .footer__btn {
    padding: 16px 20px;
  }
}

@media (max-width: 810px) {
  .nav__menu-list {
    display: block;
  }

  .footer__btn {
    padding: 16px 10px;
  }

  .servis__blocks-wrapp {
    margin-left: 60px;
  }

  .variation .variation__wrapp .variation__content .variation__prog-items {
    row-gap: 20px;
    flex-wrap: wrap-reverse;
  }

  .nav__items {
    padding: 0 20px;
  }

  .top__line-items {
    padding: 0 20px;
  }

  .result .result__elems-wrapp {
    justify-content: center;
  }

  .result__title-items .result__title {
    font-size: 24px;
  }

  .result__title-items .result__subtitle {
    font-size: 24px;
    margin-left: 120px;
    line-height: 20px;
  }

  .nav__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #404140;
    padding: 73px 0 0 90px;
    color: white;
    transition: left 0.3s ease 0s;
  }

  .faq .faq__content .faq__main-items .faq__main-text {
    font-size: 16px;
  }

  .nav__menu._active {
    display: block;
  }

  .faq__item-text .faq__color {
    font-size: 16px;
  }

  .nav__menu-elem {
    color: white;
  }

  .nav__item-serv .nav__serv-wrapp .nav__serv-elems {
    margin-top: 0px;
    width: 120%;
  }

  .tim__wrapp {
    flex-direction: column-reverse;
    row-gap: 60px;
    align-items: center;
  }

  .nav__item-serv .nav__serv-wrapp .nav__serv-elems {
    padding: 12px 0 24px 0;
  }

  body._touch .menu__arrow {
    border-top: 10px solid white;
  }

  .partner .partner__wrapper .partner__slider-content .single-item .partner__item {
    height: 250px;
  }

  .exp__text {
    width: 69%;
    left: 32px;
    top: 68px;
    font-size: 18px;
  }

  .gis__block-img {
    display: none;
  }

  .gis__items {
    justify-content: center;
  }

  .gis__btns {
    margin-top: 50px;
  }

  .gis__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form .form__social-blocks {
    display: none;
  }

  .footer__alert {
    width: 100%;
  }

  .footer__btn {
    font-size: 18px;
  }

  .form .form__items {
    justify-content: center;
  }

  .form .form__items .form__item .form__btn .btn {
    padding: 20px 240px;
  }

  /*.top__line-text {
    margin-bottom: 8px;
  }

  .top__line-items {
    padding-left: 90px;
    top: 777px;
    position: relative;
    display: block;
    z-index: 99;
  }

  .top__line-wrapp {
    display: block;
    width: 30%;
  }*/

  .nav__serv-img {
    display: none;
  }

  .nav__item-serv .nav__serv-wrapp .nav__serv-elems .nav__serv-elem::before {
    display: none;
  }

  .nav__item-serv {
    background-color: transparent;
  }

  body._touch .nav__menu-list>li {
    display: block;
  }

  .nav__item-serv .nav__serv-wrapp {
    display: block;
  }

  .position__wrapper {
    position: static;
    padding: 0;
    width: 50%;
    min-height: 0;
  }

  .nav__menu-item {
    position: relative;
  }

  .arrow_1 {
    position: absolute;
    top: 18px;
    left: 90px;
  }

  .nav__item-serv .nav__serv-wrapp .nav__serv-elems .nav__serv-elem {
    margin-bottom: 18px;
  }

  .arrow_2 {
    position: absolute;
    top: 18px;
    left: 200px;
  }

  .nav__item-serv .nav__serv-wrapp .nav__serv-elems .nav__sublink {
    font-size: 18px;
  }

  a {
    font-size: 25px;
  }

  .header__burger {
    z-index: 99;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    position: absolute;
    background-color: #272727;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
  }

  .header__burger::before {
    top: 0;
  }

  .map {
    display: none;
  }

  .about .about__us .block-video {
    display: none;
  }

  .about .about__us .elips .elips__items .elips__btn {
    bottom: 294px;
  }

  .header__burger::after {
    bottom: 0;
  }

  .about .about__us .elips .elips__items .elips__wrapp {
    margin-top: 436px;
    margin-left: 40px;
  }

  .services {
    margin-top: 430px;
  }

  .header__burger span {
    top: 50%;
    transform: translate(0px, -50%);
  }

  .header__burger.act:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: white;
  }

  .header__burger.act:after {
    transform: rotate(-45deg);
    background-color: white;
    bottom: 8px;
  }

  .header__burger.act span {
    transform: scale(0);
  }

  .director .director__wrapp .director__content .director__items {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .director .director__wrapp .director__content .director__items .director__avatar {
    height: 410px;
  }

  .proof .proof__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .proof .proof__content .proof__elem {
    max-width: 86%;
  }

  .sisdev .sisdev__content {
    flex-wrap: wrap;
  }

  .lab .lab__content {
    justify-content: center;
    flex-wrap: wrap;
  }

  .gallery .gallery__list .gallery__items {
    text-align: center;
  }

  .gallery__btn {
    font-size: 18px;
  }

  .gallery .gallery__content-items .wrapp__display .gallery__content-item .gallery__item-text a {
    font-size: 16px;
  }

  .about .about__text {
    font-size: 20px;
  }

  .about .about__title {
    font-size: 40px;
    line-height: 46px;
  }

  .elips__video {
    height: 427px;
  }

  .about .about__us .elips .elips__items .elips__wrapp {
    display: flex;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    padding: 64px 24px;
  }

  .about .about__us .elips .elips__items .elips__btn {
    width: 264px;
    height: 200px;
  }

  .about .about__us .elips .elips__items .elips__btn {
    bottom: 334px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 49px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    font-size: 16px;
  }

  .services .services__title-text {
    font-size: 24px;
    line-height: 16px;
  }

  .services .services-text {
    font-size: 24px;
  }

  .title-text {
    font-size: 24px;
  }

  .text {
    font-size: 24px;
    line-height: 20px;
  }

  .rewies .rewies__title .rewies__color {
    font-size: 24px;
    line-height: 20px;
  }

  .gis__wrapp .gis__content .gis__title .gis__title-text {
    font-size: 24px;
    line-height: 44px;
    max-width: 800px;
    margin-bottom: 0;
  }

  .gis__wrapp .gis__content .gis__title .gis-text {
    font-size: 24px;
    margin-left: 0;
  }

  .gis__wrapp .gis__content .gis__title .gis__color {
    font-size: 24px;
  }

  .title {
    font-size: 24px;
  }

  .wellcome .wellcome__title {
    font-size: 40px;
    line-height: 50px;
  }

  .director .director__wrapp .director__subtitle {
    font-size: 24px;
    line-height: 34px;
  }

  .sisdev .sisdev__title .sisdev__title-text {
    font-size: 24px;
  }

  .sisdev .sisdev__title .sisdev__subtitle-text {
    font-size: 24px;
    margin-left: 0;
  }

  .lab .lab__title .lab__title-text {
    font-size: 24px;
  }

  .lab .lab__title .lab__subtitle-text {
    font-size: 24px;
    margin: 0;
  }

  .baner__about-title {
    font-size: 40px;
    margin: 0;
  }

  .about__baner-items .baner__about-color {
    font-size: 40px;
    line-height: 36px;
  }

  .serv-items .serv-item-elem {
    flex-wrap: wrap;
  }

  .serv-img {
    flex: 1 1 auto;
  }

  .img-bl {
    display: none;
  }

  .img2 {
    display: flex;
    margin-bottom: 40px;
  }

  .portfolio .portfolio__wrapp .portfolio__title .portfolio__title-text {
    font-size: 40px;
  }

  .portfolio .portfolio__wrapp .portfolio__title .portfolio__subtitle-text {
    font-size: 40px;
    line-height: 46px;
  }

  .portfolio .portfolio__wrapp .portfolio__title {
    gap: 16px;
  }

  .progdev .progdev__wrapp .progdev__title .progdev__title-text {
    font-size: 40px;
  }

  .progdev .progdev__wrapp .progdev__title .progdev__subtitle-text {
    font-size: 40px;
    line-height: 50px;
  }

  .programm .programm__wrapp {
    flex-wrap: wrap;
    justify-content: center;
  }

  .programm__btn {
    text-align: center;

  }

  .programm .programm__wrapp .programm__content .programm__btn .programm__btn-item {
    padding: 20px 200px;
  }

  .aftocad .aftocad__items .aftocad__content {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .aftocad .aftocad__items .aftocad-cont {
    flex-wrap: wrap;
  }

  .info__baner-content .info__wrapp .info__items-subtitle .info__title-text {
    font-size: 40px;
    line-height: 48px;
  }

  .satya__wrapp .satya__nav-elems .satya__nav-items {
    display: block;
  }

  .block__tabs .useful__items .useful__item {
    flex-wrap: wrap;
    row-gap: 40px;
    flex: 1 1 auto;
  }

  .block__tabs .useful__items .useful__item .useful__content .useful__content-text .useful__more-btn {
    font-size: 18px;
  }

  .task .task__content .task__items {
    flex-direction: column;
    row-gap: 30px;
  }

  .gallery .gallery__list {
    flex-wrap: wrap;
  }

  .pkrti__baner .pkrti__items .pkrti__title {
    font-size: 40px;
  }

  .tim__wrapp .tim__img {
    width: 77%;
  }

}

@media (max-width: 779px) {
  .gis__wrapp .gis__content .gis__title .gis__title-text {
    line-height: 30px;
    max-width: 750px;
  }

  .gis__wrapp .gis__content .gis__title .gis-text {
    margin-top: 6px;
  }

  .partner .partner__wrapper .partner__slider-content .single-item .partner__item {
    height: 320px;
  }

  .partner .partner__wrapper .partner__slider-content .single-item .partner__item {
    padding: 76px;
  }

  .footer__wr {
    display: block;
    max-width: 482px;
  }

  .gallery .gallery__content-items .wrapp__display .gallery__content-item {
    max-width: 289px;
  }
}

@media (max-width: 660px) {
  .services .services__blocks {
    column-gap: 24px;
  }

  .container .faq-img {
    width: 27%;
    right: 0px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 620px;
  }

  .wrapp_1 {
    margin-left: 170px;
  }

  .wrapp_2 {
    margin-left: 114px;
  }

  .wrapp_3 {
    margin-left: 96px;
  }

  .wrapp_4 {
    margin-left: 36px;
  }

  .ser_1 {
    margin-left: 166px;
  }

  .footer__wr {
    max-width: 323px;
  }

  .servis__item-text.ser-mar_1 {
    max-width: 401px;
    margin-left: 0;
  }

  .servis__item-text {
    max-width: 357px;
  }

  .top__line-items {
    padding: 0;
  }

  .nav__items {
    padding: 0;
  }

  .nav__menu-list {
    display: block;
  }

  .about .about__us .elips .elips__items .elips__item {
    padding-top: 16px;
  }

  .services .services__blocks .services__block {
    max-width: 296px;
  }

  .header__burger-btn {
    display: block;
  }

  .about .about__us .elips .elips__items .elips__wrapp {
    display: block;
  }

  .about .about__us .elips .elips__items .elips__wrapp {
    margin-top: 241px;
    margin-left: 50px;
  }

  .variation .variation__wrapp .variation__content .variation__main-items .variation__text {
    font-size: 20px;
    text-align: left;
  }

  .about .about__us .elips .elips__items .elips__wrapp .elips__icon {
    bottom: -18px;
    left: -8px;
  }

  .about .about__us .elips .elips__items {
    right: 40px;
  }

  .partner .partner__wrapper .partner__slider-content .single-item .partner__item {
    height: 255px;
  }

  .exp__text {
    top: 42px;
    left: 24px;
  }

  .rewies .rewies__title .rewies__color {
    margin-left: 48px;
  }

  .text {
    margin-left: 48px;
  }

  .services .services-text {
    margin-left: 48px;
  }

  .exp .exp__title .exp__color {
    margin-left: 48px;
  }

  .exp__text {
    font-size: 14px;
  }

  .form .form__social {
    margin-left: 0;
  }
}
