@media (max-width: 1196px) {




}

@media (max-width: 1129px) {
  .nav__menu {
    min-width: 820px;
  }

  .services .services__blocks .services__block {
    max-width: 340px;

  }


}

@media (max-width: 1112px) {
  .services .services__blocks .services__block .services__btn a {
    padding: 18px 98px;
  }
}

@media (max-width: 1099px) {
  .about .about__us .elips .elips__items .elips__item {
    padding: 6px 6px 0 6px;
  }
}

@media (max-width: 1091px) {
  .services .services__blocks .services__block {
    max-width: 320px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 62px;
  }

  .services .services__blocks .services__block .services__btn a {
    padding: 18px 70px;
  }
}

@media (max-width: 1042px) {

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 55px;
  }


  .services .services__blocks .services__block {
    max-width: 300px;

  }

  .services .services__blocks .services__block .services__btn a {
    padding: 18px 70px;
  }
}

@media (max-width: 1013px) {
  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 52px;
  }
}

@media (max-width: 1001px) {
  .services .servisec__baner {
    min-width: 330px;
  }

  .about .about__us .elips .elips__items .elips__btn .elips__btn-circ {
    right: 50px;
  }

  .services .servisec__btn-baner:after {
    left: 42px;
  }
}

@media (max-width: 978px) {
  .services .servisec__baner {
    min-width: 300px;
  }

  .services .servisec__btn-baner:after {
    left: 20px;
  }


}
