.about {
  margin-top: 48px;

  .about__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #272727;
    opacity: 0.6;
  }

  .about__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 66px;
    margin-top: 16px;

    .about__color {
      color: #008B8B;
    }
  }

  .about__us {
    background-image: url('/img/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 408px;
    display: flex;
    align-items: start;

    .about__blocks {
      margin-top: 66px;
      background: rgba(0, 0, 0, 0.5);
      padding: 32px 48px;
      min-height: 288px;
      max-width: 390px;
      border-radius: 16px;


    }

    .about__blocks-title {
      color: white;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 42px;
    }
    .about__list {
      margin-top: 24px;
    }

    .about__list-item {
      color: white;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 18px;
      margin-top: 4px;
    }
    .about__btn-item {
      color: white;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      margin-top: 24px;
      border-radius: 100px;
      border: 1px solid white;
      cursor: pointer;
      padding: 20px 20px;
      transition: all 0.1s ease-out;

      &:hover
       {
        background-color: #A8B50A;

      }
    }
  }

}
