.about {
  margin-top: 48px;

  .about__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #272727;
    opacity: 0.6;
  }

  .about__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 66px;
    margin-top: 16px;

    .about__color {
      color: #008B8B;
    }
  }

.elips {
  position: absolute;
  right: 17%;
  top: 261px;
  .wrapp__img {
    position: absolute;
  }
}


}
