.about {
  margin-top: 248px;

  .about__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #272727;
    opacity: 0.6;
  }

  .about__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 86px;
    margin-top: 16px;
    color: #272727;
    ;

    .about__color {
      color: #008B8B;
    }
  }


  .about__us {
    width: 100%;
    height: 100%;



    .block-video {

      background: url('../img/icon/1234.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f9fbee;
      position: relative;
      width: 100%;
      height: 200px;
      bottom: 200px;

    }


    .elips {
      position: relative;
      height: 55px;

      .frame {
        margin-left: 661px;
        margin-top: -239px;

      }

      .elips__items {
        position: relative;
        top: 21px;
        display: flex;
        justify-content: space-between;

        .elips__wrapp {
          display: flex;


          .elips__icon {
            position: relative;
            bottom: 14px;
            left: 14px;
          }


        }

        .elips__btn {
          background: url('../img/icon/el.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 352px;
          height: 260px;
          padding: 20px 0px 0px 64px;
          position: relative;
          bottom: 67px;

          .elips__btn-circ {
            border: 1px solid transparent;
            background-color: #93AA00;
            border-radius: 50%;
            padding: 90px 46px 90px 46px;
            color: white;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            margin-top: 2px;
            position: absolute;
            z-index: 9;

            &:hover {
              background-color: #CEEA19;
              color: black;
            }

            .text-pos {
              text-align: center;
            }
          }
        }

        .elips__item {

          background-color: #FFFFFF;
          border-radius: 10px;
          border: 1px solid #D4D6C9;
          padding: 16px 6px 0 6px;
          height: 52px;




          .elips__text {
            text-align: center;
            padding: 0 14px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;

            color: #000000;
          }

          .elips__text-center {
            text-align: center;
          }
        }
      }
    }
  }

}

.video {
  width: 100%;
}
.elips__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
