.about {
  margin-top: 48px;

  .about__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #272727;
    opacity: 0.6;
  }

  .about__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 142px;
    margin-top: 16px;

    .about__color {
      color: #008B8B;
    }
  }

  .elips {
    position: relative;
    height: 55px;

    .elips__items {
      position: relative;
      top: 22px;
      display: flex;
      gap: 16px;

      .elips__btn {
        .elips__btn-circ {
          border: 1px solid transparent;
          background-color: #93AA00;
          border-radius: 50%;
          padding: 90px 46px 90px 46px;
          color: white;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;

        }
      }

      .elips__item {

        background-color: #FFFFFF;
        border-radius: 10px;
        border: 1px solid #D4D6C9;
        padding: 20px 6px 20px 20px;
        height: 60px;




        .elips__text {
          text-align: center;
          text-align: right;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;

          color: #000000;
        }

        .elips__text-center {
          text-align: center;
        }
      }
    }
  }


}
