.pasport__baner {
  background: url('../img/pasport.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 408px;
  border-radius: 20px;
}
.about__baner-items {
  margin-bottom: 66px;

  .baner__about-color {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 28px;
    color: #008B8B;

  }
}

.baner__about-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 50px;
  color: #272727;
  margin-bottom: 26px;
}

.baner__about-us {
  margin-top: 166px;
  background: url('../img/serv.png');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
  min-height: 454px;

}

.serv-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;

  .serv-item-elem {
    display: flex;
    align-items: center;
    height: 250px;
    margin-bottom: 40px;



    .serv-item {
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      height: 100%;

      .serv-subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        color: #272727;
        margin-bottom: 20px;
      }

      .serv-text {
        color: black;
        font-weight: 400;
        font-family: 'Manrope';
        font-style: normal;
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 18px;


      }

      .serv-ancor {
        margin-top: 20px;
        color: black;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: #008B8B;
        }
      }

    }
  }

  .serv-border {
    min-width: 100%;
    border: 1px solid rgba(91, 92, 90, 0.3);
    margin-bottom: 40px;
  }
}
