.exp {
  margin-bottom: 66px;

  .exp__title {
    margin-bottom: 56px;
.exp__color {
  margin-left: 180px;

}
  }

  .exp__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .exp__item {
      max-height: 342px;
      max-width: 360px;
      border: 1px solid transparent;


      cursor: pointer;

      &:hover {
        transition: all 1s ease-in-out;
        background: #008B8B;


      }

    }

    .exp__item-one {
      background-image: url('../img/exp1.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;

    }

    .exp__item-two {
      background-image: url('../img/exp2.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
    }

    .exp__item-three {
      background-image: url('../img/exp3.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
    }

    .exp__item-text {
      color: white;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      padding: 142px 82px;
      max-width: 354px;
    }
  }
}
