.exp {
  margin-top: 100px;
  margin-bottom: 100px;

  .exp__title {
    margin-bottom: 56px;

    .exp__color {
      margin-left: 180px;

    }
  }
}

.exp__wrapp {
  margin-top: 60px;

  .exp__items {
    display: flex;
    justify-content: space-between;
  }
}

.exp__item {
  display: block;
  position: relative;
  max-width: 100%;

  &:before {
    content: "";
    position: absolute;
    background-color: #008B8B;
    width: 100%;
    height: 99%;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover:before {
    transition: all 0.3s;
    opacity: 1;
  }
}

.exp__item img {
  border-radius: 20px;

}

.exp__text {
  position: absolute;
  width: 56%;
  left: 81px;
  top: 142px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*
.exp-text--norm {
  &:after {
    content: "Нормативные документы";
    position: absolute;
    width: 198px;
    height: 58px;
    left: 81px;
    top: 142px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

  }
}

.exp-text--st {
  &:after {
    content: "ПОлезные статьи";
    position: absolute;
    width: 198px;
    height: 58px;
    left: 481px;
    top: 142px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

  }
}

.exp-text--faq {
  &:after {
    content: "Часто задаваемые вопросы";
    position: absolute;
    width: 275px;
    height: 58px;
    left: 842px;
    top: 142px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
*/
