.faq {
  margin-top: 100px;
  background: rgba(0, 139, 139, 0.08);
  border-radius: 20px;
  padding: 80px 0;

  .faq__content {
    border-top: 1px solid #A4C5C5;
    border-bottom: 1px solid #A4C5C5;
    padding: 20px 0;

    .faq__main-items {
      display: flex;
      justify-content: space-between;


      .faq__main-text {
        display: flex;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        color: #272727;
      }
    }

  }
}
.gaq__wrapp {
  margin-top: 60px;
}
.faq__btn {
  padding-top: 8px;
  text-align: center;
  width: 45px;
  height: 45px;
}

.faq__btn:hover {
  background: rgba(0, 139, 139, 0.3);
  border-radius: 50%;
}

.faq__btn svg {
  transform: rotate(0);
  transition: transform 0.1s;
}

.faq__btn.faq__active svg {
  transform: rotate(-45deg);
  transition: transform 0.1s;
}

.faq__item {
  display: none;
}

.faq__item.faq__active {
  display: block;
  margin-top: 30px;
}

.faq__item-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #272727;

  .faq__color {
    color: #008B8B;
  }
}
.faq-img {
  position: absolute;
  display: block;
  width: 10%;
  right: 334px;
}
.faq-svg {

  display: block;
  object-fit: contain;
  width: 100%;
}
