.footer {
  margin-top: 100px;

  &__wrap {
    background-image: url('../img/group-503.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 562px;
    background-position: center;
    margin-top: 44px;
  }
}

.footer__items {
  padding-top: 96px;
  display: flex;


}

.footer__logo {
  padding-top: 10px;
  position: relative;
}

.footer__list-item a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: white;
  padding-top: 15px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__list-icon {
  margin-right: 8px;
}

.footer__phone {
  margin: 0;
}

.footer__btn {
  margin-top: 66px;
  background-color: #A8B50A;
  color: white;
  border: 1px solid transparent;
  padding: 16px 36px;
  border-radius: 50px;

  &:hover {
    color: black;
    background-color: #CEEA19;
    border: 1px solid transparent;
  }




}
.footer__alert {
  width: 100%;
}
.footer__wr {
  display: flex;
}
.logo-f {
  width: 60%;
}
