.footer {
  margin-top: 68px;
}
.footer__wrap {
  background-image: url(/img/group-503.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: center;
}

.footer__items {
  padding-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  padding-top: 10px;
  position: relative;
}

.footer__list-item a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: white;
  padding-top: 15px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts .contact__item {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__list-icon {
  margin-right: 8px;
}

.footer__phone {
  margin: 0 0 0 0;
}

.footer__btn {
  margin-top: 66px;
  background-color: #A8B50A;
  color: white;
  border: none;
  padding: 16px 36px;
}