.form__section {
  position: relative;
  margin-top: 100px;


  .form__title {
    min-width: 718px;
    margin-bottom: 44px;

    .form-color {
      margin-left: 180px;
    }
  }

  .form-color {
    margin: 0;
  }

  .form__items {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background: rgba(51, 51, 51, 0.5) url('../img/icon/load.gif') center / 100px no-repeat;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease 0s;
    }

    .form__items._sending::before {
      opacity: 1;
      visibility: visible;
    }


    .form__item {
      width: 50%;
      display: block;


      .form__row {
        display: flex;
        flex-direction: column;

        .form__input {
          border-radius: 50px;
          border: 1px solid black;
          background-color: #f9fbee;
          color: rgba(0, 0, 0, 0.6);
          font-size: 18px;
          padding: 20px 0px 20px 36px;
          margin-bottom: 20px;
          resize: none;

          &:focus {
            outline: none;
          }
        }

        .form__input._error {
          border: 1px solid #F75C53;
        }

        .form__input--textarea {
          padding: 26px 172px 100px 36px;
          border-radius: 50px;
        }
      }

      .form__btn {

        .btn {
          width: 100%;
          text-align: center;
          border-radius: 50px;
          border: 1px solid transparent;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          background: #93AA00;
          cursor: pointer;
          padding: 17px 0px;

          &:hover {
            border: 1px solid transparent;
            background: #CEEA19;
            color: black;
          }

        }


      }
    }

  }

  .form__social {
    display: flex;



  }

  .form__social-blocks {
    max-width: 100%;

  }

  .form__social-block {
    background-color: #008B8B;
    border-radius: 20px 20px 0 0;
    padding: 20px 42px 16px 42px;
    margin-right: 15px;

    .form__social-subtitle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      color: white;
      line-height: 30px;
      margin-bottom: 26px;

    }

    .form__social-text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      flex: end;
      margin-top: 44px;
      color: #FFFFFF;
    }
  }



  .for-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

}

.form__social-img {
  border-radius: 0px 0px 20px 20px;
  margin-right: 15px;
  width: 100%;
}
