.form {
  position: relative;
  margin-top: 66px;


  .form__title {
    min-width: 698px;
    margin-bottom: 44px;
  }

  .form-color {
    margin: 0;
  }

  .form__items {
    display: flex;


    .form__item {
      display: block;
      min-width: 554px;

      .form__row {
        display: flex;
        flex-direction: column;

        .form__input {
          border-radius: 50px;
          border: 1px solid black;
          background-color: #f9fbee;
          color: rgba(0, 0, 0, 0.6);
          font-size: 18px;
          padding: 20px 292px 20px 36px;
          margin-bottom: 20px;
          resize: none;

          &:focus {
            outline: none;
          }
        }

        .form__input--textarea {
          padding: 26px 172px 100px 36px;
          border-radius: 50px;
        }
      }

      .form__btn {

        .btn {
          border-radius: 50px;
          border: 1px solid transparent;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          background: #93AA00;
          cursor: pointer;
          padding: 20px 230px;

          &:hover {
            border: 1px solid transparent;
            background: #CEEA19;
            color: black;
          }

        }


      }
    }

  }

  .form__social {
    display: flex;
    margin-left: 40px;


  }

  .form__social-blocks {
    max-width: 534px;

  }

  .form__social-block {
    background-color: #008B8B;
    min-height: 184px;
    border-radius: 20px 20px 0 0;
    padding: 20px 42px 16px 42px;

    .form__social-subtitle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      color: white;
      line-height: 30px;
      margin-bottom: 26px;

    }

    .form__social-text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      flex: end;
      margin-top: 44px;
      color: #FFFFFF;
    }
  }

  .form__social-img {
    max-width: 534px;
    min-height: 308px;
  }

  .for-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

}
