.map__wrapp {
  position: relative;
  background: url('../img/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 683px;
  min-height: 832px;
}
