.mapcont {
 margin-top: 60px;
 .mapcont__wrapp {
  background: url('../img/contmap.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 452px;
 }
}
