.nav {
  max-width: 100%;
  min-height: 32px;
  border-bottom: 1px solid #E1E3D6;
  box-sizing: border-box;
  z-index: 10;
  position: relative;

}

.nav__items {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 46px;

}

.nav__menu {
  min-width: 821px;


  &-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;

  }


}


.nav__menu-item {
  border: 1px solid transparent;
  padding: 12px 6px;


}


.nav__menu-item .menu-item__dropdown {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  z-index: 10;
}

.nav__menu-item:hover .position__wrapper {
  opacity: 1;
  transition: 0.8s;
  display: block;
}

.position__wrapper {
  display: none;
  opacity: 0;
  position: absolute;
  padding-top: 30px;
  width: 100%;
  left: 0;
  top: 40px;
  min-height: 263px;
  z-index: 99999;
  animation: showing;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;

  @keyframes showing {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.nav__item-serv {
  background-color: #008B8B;
  z-index: 999;

  .nav__serv-wrapp {
    display: flex;
    gap: 96px;
    &:last-child {
      gap: 186px;
    }

    .nav__serv-elems {
      position: relative;
      display: block;
      margin-top: 30px;

      .nav__serv-elem::before {
        content: "";
        position: absolute;
        padding: 8px;
        border-radius: 50px;
        background-color: #93AA00;
      }

       .nav__sublink {
        position: relative;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 30px;
        margin-left: 30px;
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 0;
          height: 2px;
          transition: width 0.3s ease-out;
          background-color: white;
        }

        &:hover:after,
        &:focus:after {
          width: 100%;
        }


      }
    }

    .nav__serv-img img {
      border-radius: 20px;
      max-width: 454px;
      margin-top: 30px;
    }
  }
}



.nav__menu-elem {
  position: relative;
  z-index: 99;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-out;
    background-color: #008B8B;
    z-index: 99;

    .nav__item-serv {
      position: absolute;
      background-color: #008B8B;
      display: flex;
      gap: 120px;
      z-index: 99;
    }
  }

  &:hover:after,
  &:focus:after {
    width: 100%;
  }
}
