.partner {
 margin-top: 100px;
  .partner__wrapper {



    .partner__slider-content {
      position: relative;
      overflow: hidden;
      height: 100%;

      .arrow__wrapp {
        display: flex;
        justify-content: space-between;


        .partner__arron-wrapp {
          display: flex;
          gap: 30px;
          z-index: 7;
          cursor: pointer;
          margin-bottom: 30px;
        }
      }

      .single-item {
        position: relative;
        display: flex;


        .partner__item {
          border: 1px solid #008B8B;
          padding: 76px 62px;
          border-radius: 50px;
          height: 346px;
          margin-right: 45px;


          .partner__item-img {
            max-width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

}
