.partner__text {
  margin-left: 172px;
  margin-bottom: 58px;
}
.partner__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .partner__item {
    border: 1px solid #008B8B;
    padding: 76px 36px;
    border-radius: 50px;
  }
}
