.pkrti__baner {
  margin-top: 44px;

  .pkrti__items {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .pkrti__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 52px;
      line-height: 68px;
      margin-bottom: 86px;
      margin-top: 16px;
      color: #272727;

      .pkrti__title-color {
        color: #008B8B;
        ;
      }
    }


  }

  .pkrti__baner-img {
    background-image: url('../img/trans.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 464px;
    border-radius: 20px;
  }
}
