.programm {
  margin-top: 100px;

  .programm__wrapp {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .programm__content {
      display: flex;
      flex-direction: column;

      .programm__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 16px;

      }

      .programm__btn {



        .programm__btn-item {
          width: 100%;
          text-align: center;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          padding: 20px 170px;
          color: white;
          background-color: #93AA00;
          border-radius: 100px;
          cursor: pointer;
          &:hover {
            background-color: #CEEA19;
            color: black;
          }
        }
      }
    }
  }
}
.programm__img img{
  border-radius: 20px;
  min-width: 560px;
}
