.projects__title {
  margin-top: 100px;
  margin-bottom: 66px;
}

.projects__imgs-wrapp {
  display: flex;
  gap: 80px;

  .projects__imgs-content {
    display: flex;

    &:first-child {
      margin-top: 155px;
    }

    .projects__imgs-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .projects__img-items {
    position: relative;
  }

  .projects__item-img {
    width: 100%;
    position: absolute;
    top: 20px;

  }
}

.projects__img {
  filter: brightness(60%);
  width: 100%;&:hover {
    filter: brightness(100%);
    transition: 0.3s;
  }
}

.projects-svg {
  display: block;
  max-width: 27%;
  object-fit: contain;
}

.projects-item {
position: relative;
}
