.rewies {
  margin-top: 66px;
  margin-bottom: 66px;

  .rewies__title {
    min-width: 820px;
    margin-bottom: 66px;

    .rewies__title-text {
      max-width: 72%;
      margin: 0;


    }

    .rewies__color {
      margin: 0;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      margin-left: 180px;
      color: #272727;
    }
  }

  .rewies__wrapp {
    display: flex;
    align-items: center;

    .rewies__img {
      margin-right: 8px;
    }
  }


}
