.satya__wrapp {
  margin-top: 100px;

  .satya__nav-elems {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .satya__nav-items {
      display: flex;
      gap: 60px;

      .satya__nav-item {
        border: 1px solid transparent;
        position: relative;
        padding: 12px 6px;

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 0;
          height: 2px;
          transition: width 0.3s ease-out;
          background-color: #008B8B;
        }

        &:hover:after,
        &:focus:after {
          width: 100%;
        }

        .stya__nav-btn {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #5B5C5A;

          &:hover {
            color: #008B8B;
          }
        }

      }
    }

    .satya__inp {
      position: relative;
      border: 1px solid rgba($color: #000000, $alpha: 0.5);
      border-radius: 50px;
      padding: 6px 0px 6px 12px;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      &::before {
        content: "../img/s.png";
        font-size: 18px;
        color: #272727;
      }
    }
  }
}

.satya__gost {
  margin-top: 100px;

  .satya__gost-title {
    margin-bottom: 100px;

    .gost-title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: #008B8B;

    }

    .gost-subtitle {
      margin-left: 180px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: #272727;
    }
  }

  .gost__list-items {
    font-family: "Inter";
    font-style: normal;
    font-size: 24px;
    color: #272727;
    margin-top: 30px;

    .gost__list-item .gost-item{
      font-family: "Inter";
      font-style: normal;
      font-size: 18px;
      color: #272727;
      margin-top: 15px;
      margin-left: 30px;
    }
    .gost__list-item .gost-item:hover {
      color: #008B8B;
    }
  }
}

.block__tabs.active {
  display: flex;
}
