.servisec {
  margin-top: 66px;

  .servisec__wrapp {
    display: flex;
    flex-direction: column;
  }

  .servisec__blocks {
    display: flex;
    margin-top: 44px;

    .servisec__blocks-item {
      margin-right: 40px;
    }
  }

  .item-right {
    margin-right: 0;
    margin-left: 40px;
    order: 2;
  }

  .img-left {

    order: 1;
  }

  .servisec__subtitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 26px;
    color: #272727;

    &:last-child {
      line-height: 42px;
    }
  }

  .servisec__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    &:last-child {
      margin-top: 24px;
    }
  }
  .text-right:last-child {
    margin-top: 6px;
  }
  .serv-img {
    min-height: 155px;
  }
}
