.services {
  min-height: 1156px;

  .services__title-text {
    position: relative;
    z-index: 9;
    margin-top: -320px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #008B8B;
    margin-bottom: 0;
  }


  .services-text {
    position: relative;
    z-index: 9;
    margin-left: 180px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #272727;
    margin-bottom: 22px;
  }

  .services__blocks {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 59px;
    margin: 0 auto;
    justify-content: center;


    /*.services__blocks-wrapp {
      margin-bottom: 60px;
      display: flex;
      justify-content: space-between;


    }*/
  }
.services__block {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin-top: 20px;

        .services__content {
          margin-top: 20px;
          height: 100%;
        }

        .services__subtitle {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 125%;
          color: #272727;
          max-width: 300px;
          margin-bottom: 18px;
        }

        .services__text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 125%;
          margin-bottom: 38px;
          height: 75px;
        }

        .services__btn a {
          border: 1px solid #008B8B;
          color: #008B8B;
          border-radius: 50px;
          padding: 20px 110px;

          &:hover {
            border: 1px solid transparent;
            background: #008B8B;
            color: white;
            ;
          }
        }

      }
  .servisec__baner {
    background-color: #008B8B;
    min-width: 354px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;


    .services__content {
      color: white;
      padding: 26px 0 0 26px;

      .services__subtitle-baner {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 10px;
      }

      .services__text-baner {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }
    }


  }

  .servisec__btn-baner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
    margin-bottom: 18px;

    &::before {
      content: url('../img/icon/elman.png');
      position: absolute;
      width: 488px;
      height: 488px;
      top: 15px;

    }

    &:after {
      content: url('../img/icon/servman.png');
      position: absolute;
      width: 256px;
      height: 344px;
      left: 75px;
      z-index: 1;


    }

    .btn-baner {
      font-family: 'Inter';
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      width: 160px;
      height: 160px;
      text-align: center;
      color: #FFFFFF;
      border: 1px solid transparent;
      background-color: #93AA00;
      border-radius: 50%;
      margin-left: 30px;
      z-index: 2;

      &:hover {
        color: #272727;
        background-color: #CEEA19;
      }
    }
  }
}

.services__img {
  max-width: 100%;
}

.servis {
  margin-top: 100px;

  .servis__title {
    margin-top: 60px;
    margin-bottom: 60px;

    .servis__title-text {
      line-height: 32px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      color: #272727;
      margin-left: 208px;
      margin-bottom: 10px;
    }
    .servis__tit-line {
      line-height: 34px;
    }

    .servis__title-subtext {
      line-height: 34px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      color: #272727;
    }
  }

  .servis__content {

    .servis__content-text {
      display: flex;
      justify-content: space-between;
    }

    .servis__content-block {
      margin-bottom: 40px;

      .servis__item-subtitle {
        margin-bottom: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #272727;
      }


    }
  }
}

.servis__item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #008B8B;
}

.servis__marg {
  margin-left: 110px;
  margin-bottom: 12px;
}

.servis__content-title {
  max-width: 160px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #272727;
}


.servis__item-text {
  max-width: 748px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #272727;
}
.servis__blocks-wrapp {
  margin-left: 208px;
 margin-bottom: 60px;
}
.servis__block {
  display: flex;
  border-top: 1px solid #E1E3D6;
  border-bottom: 1px solid #E1E3D6;
  padding: 40px 0;
  justify-content: space-between;
}
/*.servis__content-wrapp {
  width: 73%;
}*/
.ser_1 {
  margin-left: 120px;
}
.ser_2 {
  margin-left: 78px;
}
.ser_3 {
  margin-left: 100px;
}
.ser_4 {
  margin-left: 102px;
}
