.services {
  margin-top: 66px;
  min-height: 1156px;

  .services-text {
    margin-left: 180px;
  }

  .services__blocks {
    display: flex;
    margin-top: 60px;
    flex: gap;
    flex-wrap: wrap;
    gap: 24px;
    height: 458px;

    .services__block {
      max-width: 360px;

      .services__content {
        margin-top: 20px;
      }

      .services__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 125%;
        color: #272727;
        max-width: 300px;
        margin-bottom: 18px;
      }

      .services__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 125%;
        margin-bottom: 38px;
      }

      .services__btn a {

        border: 1px solid #008B8B;
        color: #008B8B;
        border-radius: 50px;
        padding: 20px 110px;

        &:hover {
          border: 1px solid transparent;
          background: #008B8B;
          color: white;
          ;
        }
      }

    }
  }

  .servisec__baner {
    background-color: #008B8B;
    max-height: 490px;
    min-width: 354px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


    .services__content {
      color: white;
      padding: 26px 0 0 26px;

      .services__subtitle-baner {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 6px;
      }

      .services__text-baner {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }
    }


  }

  .servisec__btn-baner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 auto;
    margin-bottom: 0;
  }
}
