.tim {
  background: #008B8B;
  padding: 100px 0;
  width: 100%;
  margin-top: 100px;

  .tim__wrapp {
    display: flex;
    justify-content: space-between;

    .tim__content {
      max-width: 50%;

      .tim__item-svg {
        display: block;
        width: 40%;

        .tim-svg {
          display: block;
          object-fit: contain;
          width: 100%;
        }
      }

      .tim__item-text {
        margin-top: 38px;
        margin-bottom: 30px;

        .tim__text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .tim__line {
        background: white;
        height: 1px;
      }

      .tim__subtitle {
        margin-top: 20px;

        .tim__subtitle-text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          color: #FFFFFF;
          margin-bottom: 9px;
        }

        .tim__about-text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #C7C7C7;
        }
      }
    }

    .tim__img {
      width: 45%;

      .tim-im {
        border-radius: 30px;
      }
    }
  }
}
