.block__tabs {
  display: none;
  margin-top: 64px;

  .useful__items {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .useful__item {
      display: flex;
      gap: 40px;

      .useful__img {
        width: 100%;
        border-radius: 20px;
        display: block;
        object-fit: contain;
      }

      .useful__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .useful__title {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          text-transform: uppercase;
          color: #000000;
        }

        .useful__content-text {
          display: flex;
          flex-direction: column;
          gap: 18px;

          .useful__more-btn {
            font-weight: 700;

            &:hover {
              color: #008B8B;
            }
          }
        }
      }

    }

  }
}
.userful-bl {
  display: block;
  width: 224%;
}
