.variation {
  margin-top: 66px;

  .variation__wrapp {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .variation__content {
      display: flex;
      justify-content: space-between;
      border: 1px solid gray;
      border-radius: 20px;

      .variation__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #272727;
        padding: 30px 0 30px 40px;
      }

      .variation__btn {
        margin: 24px 24px;
        background: url('../img/icon/plus.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
