.variation {
  margin-top: 100px;

  .variation__wrapp {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .variation__content {
      border: 1px solid #272727;
      border-radius: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .variation__main-items {
        display: flex;
        justify-content: space-between;

        .variation__btn svg {
          transform: rotate(45deg);
          transition: transform 0.1s;
        }

        .variation__btn.active svg {
          transform: rotate(0);
        }


        .variation__text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          color: #272727;
        }
      }

      .variation__prog-items {
        display: none;
        justify-content: space-between;

        .variation__item-img {
          min-width: 426px;
          border-radius: 20px;
        }

        .variation__prog-item {
          max-width: 600px;
          display: flex;
          flex-direction: column;
          gap: 26px;
          &:nth-child(4) {
            gap: 35px;
          }

          .variation__item-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            color: #272727;
          }

          .variation__item-btn {
            display: flex;
            gap: 15px;
            margin-top: 28px;

            .variation__btn-one {
              background-color: #93AA00;
              border-radius: 100px;
              color: white;
              padding: 18px 60px;
              border: 1px solid transparent;

              &:hover {
                background-color: #CEEA19;
                color: #484946;
                border: 1px solid transparent;
              }
            }

            .variation__btn-two {
              border-radius: 100px;
              padding: 18px 34px;
              border: 1px solid #272727;

              &:hover {
                background-color: #008B8B;
                color: white;
                border: 1px solid transparent;
              }
            }
          }
        }
      }

      .variation__prog-items.active {
        display: flex;
      }
    }
  }

}
.btn__svg {
  display: block;
  width: 30px;
  height: 30px;
}
